<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zstarling修改图书</title>
</head>
<body>
<form action="/bookstore/modbo/{{ abook.id }}" method="post">
    书&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" value="{{abook.title}}"><br>
    定&nbsp;&nbsp;&nbsp;&nbsp;价：<input type="text" value="{{abook.price}}"><br>
    零售价：<input type="text" name="market_price" value="{{abook.market_orice}}"><br>
    出版社：<input type="text" value="{{abook.pub}}"><br>
    <input type="submit" value="确认修改">
</form>
    <a href="/bookstore/addbo">返回列表</a>
</body>
</html>