<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zstarling删除</title>
</head>
<body>
    <a href="/bookstore/add_author">添加作者</a>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>email</td>
            <td>删除</td>
            <td>修改</td>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.age }}</td>
            <td>{{ author.email }}</td>
            <td><a href="/bookstore/delau/{{ author.id }}">删除</a></td>
            <td><a href="/bookstore/modau/{{ author.id }}">修改</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>