<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zstarling</title>
</head>
<body>
<button id="btn">跨域请求</button>
<script src="/static/jquery-1.11.3.js"></script>
<!--<script>
    function print(data){
        console.log('server data is '+data);
    }
    $(function(){
        $('#btn').click(function(){
            var body=document.getElementsByTagName("body")[0];
            var script=document.createElement("script");
            script.type='text/javascript';
            script.src='http://localhost:8000/ajax/cross_server/?callback=print';
            body.append(script);
        })
    })
</script>-->

<!--jq版本-->
<script>
    /*
    function print(data){
        console.log(typeof(data));
        console.log('server data is '+data);
    }

    $(function(){
        $('#btn').click(function(){
            $.ajax({
                //url:'http://localhost:8000/ajax/cross_server/',
                url:'http://localhost:8000/ajax/cross_server_json/',
                type:'get',
                dataType:'jsonp',
                jsonp:'callback',
                jsonpCallback:'print'
            })
        })
    })
    */

    //jq跨域超简版
    $(function(){
        $('#btn').click(function(){
            $.ajax({
                url:'http://localhost:8000/ajax/cross_server_json/',
                type:'get',
                dataType:'jsonp',
                success:function(data){
                    console.log('this is jquery console');
                    console.log(data);
                }
            })
        })
    })



</script>
</body>
</html>