<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/jquery-1.11.3.js"></script>
<p>This is load test </p>
<button id="btn">show jquery load</button>
<div id="show"></div>
<script>
        $(function(){
            $('#btn').click(function(){

                //$('#show').load('/ajax/load_test_server/ #btn2');
                //$('#show').load('/ajax/load_test_server/','uname=yaoyue&age=24');
                //$('#show').load('/ajax/load_test_server/',{uname:'yaoyue');
                $('#show').load('/ajax/load_test_server/',function(){alert('---I am func!!')});
                //$('#show').load('http://www.taobao.com');

            })

        })


</script>


</body>
</html>