<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zstarling</title>
</head>
<body>
<script src="/static/js/jquery-1.11.3.js"></script>

<button onclick="showjson()">show_json</button>
<script>
    function showjson(){
        /*
        var obj={
            "name":"wanglaoshi",
            "age":"19",
            "gender":"male"
        };
        console.log("name"+obj.name);
        console.log("age"+obj.age);
        console.log("gender"+obj.gender);
        */

        var arr = [
            {
                "name":"王老师",
                "age":30,
                "gender":"男"
            },
            {
                "name":"王夫人",
                "age":28,
                "gender":"男"
            },
            {
                "name":"wanglaoshi",
                "age":"19",
                "gender":"male"
            }
        ];
        /*
        for (var i=0;i<arr.length;i++){
            console.log("name"+arr[i].name);
            console.log("age"+arr[i].age);
            console.log("gender"+arr[i].gender);
        }


        //jquery 一版
        $(arr).each(function(i,obj){
            console.log("index:"+i);
            console.log("name:"+obj.name);
            console.log("age:"+obj.age);
            console.log("gender:"+obj.gender);
        })


        //jquery 二版
        $.each(arr,function(i,obj){
            console.log("index:"+i);
            console.log("name:"+obj.name);
            console.log("age:"+obj.age);
            console.log("gender:"+obj.gender);
        });
        */

        var json_str='[{"uname": "yaoyue", "uage": 23}, {"uname": "xixi", "uage": 24}]'
        console.log(json_str)
        var json_obj=JSON.parse(json_str)
        console.log(json_obj)


    }

</script>
</body>
</html>