/* 清空元素浏览器默认属性值 */
/* *代表所有元素*/
*{
    margin: 0;
    padding: 0;
}
/* 设置页面显示的样式字体大小 */
body{
    font-size: 13px;
}
/* 消除列表元素默认样式 */
ul{
    list-style-type: none;
}
/* 清除超级链接下划线 */
a{
    text-decoration: none;
    color: #E8F5EC;
}
/* 焦点颜色 */
.focus{
    color: #B8EAEE !important;
}
/* 编写导航条的样式 */
#nav{
    position: fixed;
    width: 100%;
    border: solid 0px red;
    top: 0;
    left: 0;
    background-color: #555555;
}
#nav>.box{
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
    border: solid 0px blue;
    padding: 23px 0;
}
#nav>.box>.title{
    float: left;
    margin-right: 70px;
}
#nav>.box>.title>h3{
    color: #B8EAEE;
    font-size: 20px;
}
#nav>.box>.list{
    float: left;
}
#nav>.box>.list>ul{
    float: left;
    
}
#nav>.box>.list>ul>li{
    float: left;
    margin-right:30px;
    color: #E8F5EC;
}
#nav>.box>.a1{
    float: right;
   
}
#nav>.box>.a1>a{
    margin-right:10px; 
}

/* 登录页的样式 */
#login{

}
#login>img{
    width: 100%;
    position: fixed;
    /* 设置元素的透明度 opacity 0-1之间，没有单位    */
    opacity: 0.7;
}
/* log框的样式 */
#log{
    position: absolute;
    width: 410px;
    height: 375px;
    border: 0px solid red;
    left: 50%;
    top: 20%;
    margin-left: -205px;
    z-index: 9999; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #666666;
}
#log>.title{
    text-align: center;
    padding: 20px 0 60px 0;
    border-bottom: 1px solid #cccccc;
}
#log>.title>h3{
    font-size: 24px;
}
#log>.tip{
    margin: 32px 0 10px 28px;
}
#log>.item{
    margin-top: 5px;
}
#log>.item>input{
    width: 280px;
    margin-left: 28px;
    padding: 8px;
    border-radius: 3px;
}
#log>.error{
    margin: 10px 28px;
    color: red;
    display: none;
}
#log>.btn{
    margin-top:  20px;
}

#log>.btn>input{
    margin-left:28px;
    width: 70px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
    outline: none;
    border: solid 1px #cccccc;
}
#log>.btn>input:hover{
    background-color: #666666;
    color: #ffffff;
}